In [ ]:
# If:
    #ImportError: Missing optional dependency 'xlrd'. Install xlrd >= 1.0.0 for Excel support Use pip or conda to install xlrd.
    
    #then install xlrd

In [ ]:
!pip install xlrd

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('asdasd.xlsx')

In [3]:
dfNew = df[0:7].copy()

In [4]:
for i in range(len(dfNew)):
    dfNew['Hour'][i] = i
    dfNew['Power'][i] = 0

C:\Users\User1\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\User1\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [5]:
dfNew

        Date  Hour  Power
0 2019-10-29     0    0.0
1        NaT     1    0.0
2        NaT     2    0.0
3        NaT     3    0.0
4        NaT     4    0.0
5        NaT     5    0.0
6        NaT     6    0.0

In [6]:
def dataSliceMaker(df, a,b):
    
    dfSlice = df[a:b].copy()
    dfNew['Date'][0] = dfSlice['Date'][a]
    dfSlice['Date'][a] = pd.NaT
    
    return pd.concat([dfNew,dfSlice]);

In [7]:
def dataFrameMaker(df):
    sum = dataSliceMaker(df, 0,17)
    a = 17
    b = 35
    for i in range(int((len(df) / 17)) - 1):
        newDataFrame = dataSliceMaker(df, a,b)
        sum = pd.concat([sum, newDataFrame])
        a = a + 17
        b = b + 17
    return sum

In [8]:
final = dataFrameMaker(df)

C:\Users\User1\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\User1\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [9]:
final

           Date  Hour       Power
0    2019-10-29     0    0.000000
1           NaT     1    0.000000
2           NaT     2    0.000000
3           NaT     3    0.000000
4           NaT     4    0.000000
...         ...   ...         ...
2920        NaT    19  401.583333
2921        NaT    20    6.666667
2922        NaT    21    0.000000
2923        NaT    22    0.000000
2924        NaT    23    0.000000

[4299 rows x 3 columns]

In [10]:
final.to_excel('Adilet.xlsx')