In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel('asdasd.xlsx',0)

In [3]:
myarr = np.zeros(( int(df.shape[0]/18 *24), df.shape[1]))
df_new = pd.DataFrame(myarr)
df.iloc[0,0]

Timestamp('2020-04-19 00:00:00')

In [4]:
for ii in range(int(df_new.shape[0]/24)):
    df_new.iloc[ii*24, 0] = df.iloc[ii*18, 0]
    for jj in range(6):
        df_new.iloc[ii*24 + jj, 1] = jj
        df_new.iloc[ii*24 + jj, 2] = 0
    for jj in range(6, 24):
        df_new.iloc[ii*24 + jj, 1] = df.iloc[ii*18 + jj - 6, 1]
        df_new.iloc[ii*24 + jj, 2] = df.iloc[ii*18 + jj - 6, 2]

In [5]:
df_new

                      0     1          2
0   2020-04-19 00:00:00   0.0   0.000000
1                     0   1.0   0.000000
2                     0   2.0   0.000000
3                     0   3.0   0.000000
4                     0   4.0   0.000000
..                  ...   ...        ...
67                    0  19.0  89.967583
68                    0  20.0  90.102583
69                    0  21.0  90.103000
70                    0  22.0  90.103000
71                    0  23.0  90.103000

[72 rows x 3 columns]

In [6]:
df_new.to_excel('adsadsdsads.xlsx')