In [ ]:
# If:
    #ImportError: Missing optional dependency 'xlrd'. Install xlrd >= 1.0.0 for Excel support Use pip or conda to install xlrd.
    
    #then install xlrd

In [1]:
!pip install xlrd

Requirement already satisfied: xlrd in c:\users\user1\anaconda3\lib\site-packages (1.2.0)

In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('asdasd.xlsx')

In [4]:
dfNew = df[0:6].copy()

In [6]:
for i in range(len(dfNew)):
    dfNew['Hour'][i] = i
    dfNew['Power'][i] = 0

C:\Users\User1\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\User1\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [7]:
dfNew

        Date  Hour  Power
0 2019-10-29     0    0.0
1        NaT     1    0.0
2        NaT     2    0.0
3        NaT     3    0.0
4        NaT     4    0.0
5        NaT     5    0.0

In [8]:
def dataSliceMaker(df, a,b):
    
    dfSlice = df[a:b].copy()
    dfNew['Date'][0] = dfSlice['Date'][a]
    dfSlice['Date'][a] = pd.NaT
    
    return pd.concat([dfNew,dfSlice]);

In [9]:
def dataFrameMaker(df):
    sum = dataSliceMaker(df, 0,18)
    a = 18
    b = 36
    for i in range(int((len(df) / 18)) - 1):
        newDataFrame = dataSliceMaker(df, a,b)
        sum = pd.concat([sum, newDataFrame])
        a = a + 18
        b = b + 18
    return sum

In [10]:
final = dataFrameMaker(df)

C:\Users\User1\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\User1\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [11]:
final

           Date  Hour         Power
0    2019-10-29     0      0.000000
1           NaT     1      0.000000
2           NaT     2      0.000000
3           NaT     3      0.000000
4           NaT     4      0.000000
...         ...   ...           ...
2911        NaT    10   6912.500000
2912        NaT    11   9951.166667
2913        NaT    12  11504.416667
2914        NaT    13  12155.416667
2915        NaT    14  11863.333333

[3888 rows x 3 columns]

In [13]:
final.to_excel('Adilet.xlsx')